.carousel-container {
  width: 70%; /* Ajusta el tamaño del contenedor del carrusel */
  margin: 0 auto;
  text-align: center;
}

.planet-img {
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out; /* Añade transición para escala y filtro */
  max-width: 100%;
  height: auto;
  filter: brightness(0.8); /* Reduce el brillo para los planetas inactivos */
}

.slick-center .planet-img {
  transform: scale(1.1) rotate(15deg); /* Aumenta el tamaño y rota ligeramente la imagen en el centro */
  filter: brightness(1); /* Restablece el brillo de la imagen en el centro */
}

.slick-slide {
  transition: transform 0.5s ease; /* Transición suave entre slides */
}

.slick-slide:not(.slick-center) .planet-img {
  transform: scale(0.9); /* Reduce el tamaño de los planetas fuera del centro */
  filter: brightness(
    0.7
  ); /* Disminuye el brillo de los planetas que no están en el centro */
}

/* Opcional: Animación cuando pasas el mouse sobre los planetas */
.planet-img:hover {
  transform: scale(1.15) rotate(10deg); /* Aumenta el tamaño y rota más al pasar el ratón */
  filter: brightness(1.2); /* Aumenta ligeramente el brillo en hover */
}

.slick-prev,
.slick-next {
  color: #000000; /* Color de los botones de navegación */
}

.slick-dots li button:before {
  font-size: 12px; /* Tamaño de los puntos de navegación */
  color: #020202; /* Color de los puntos */
}

.slick-dots li.slick-active button:before {
  color: #ff5733; /* Color del punto activo */
}

.selected-planet {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  padding-left: 5%; /* Añade un poco de espacio a la izquierda */
  text-align: center;
  animation: fadeIn 0.8s ease-in-out, scaleUp 0.8s ease-in-out;
  transform: scale(1);
}

.planet-img-selected {
  max-width: 800px;
  height: auto;
  transition: transform 0.8s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Nueva animación para la salida del planeta */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

/* Aplicar la animación de salida */
.fade-out {
  animation: fadeOut 0.5s ease-in-out, scaleDown 0.5s ease-in-out;
}

/* Estilos para el botón de cancelar */
.cancel-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #ff2a00;
}
