html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.spline-section {
  width: 100vw; /* Ancho completo del viewport */
  height: 100vh; /* Altura completa del viewport */
  position: relative; /* Mantén el visor en la pantalla */
}

spline-viewer {
  width: 100%;
  height: 100%;
}

.new-section {
  background-color: lightgray;
  padding: 50px;
  text-align: center;
  width: 100vw; /* Asegura que cubra todo el ancho */
  height: 100vh; /* Nueva sección también ocupa toda la pantalla */
}

.title-overlay {
  font-family: "Audiowide", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  pointer-events: none; /* Para que el visor de Spline siga siendo interactivo */
  z-index: 1;
  text-align: center;
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease; /* Transición suave */
}

.title-overlay.scrolled {
  transform: translate(
    -50%,
    -150%
  ); /* Mueve el texto hacia arriba fuera de la vista */
  opacity: 0; /* Reduce la opacidad a 0 mientras se mueve */
}
