html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Agrega sombra para separación */
  height: 50px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around; /* Espaciado equitativo alrededor de cada elemento */
  width: 100%; /* Asegura que ocupe todo el ancho del navbar */
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Audiowide", sans-serif ;
}

.navbar ul li a:hover {
  color: #ddd;
}

.spline-section {
  width: 100vw; /* Ancho completo del viewport */
  height: 100vh; /* Altura completa del viewport */
  position: relative; /* Mantén el visor en la pantalla */
  color: #efefef;
}

spline-viewer {
  width: 100%;
  height: 100%;
}

.new-section {
  background-color: lightgray;
  padding: 50px;
  text-align: center;
  width: 100vw; /* Asegura que cubra todo el ancho */
  height: 100vh; /* Nueva sección también ocupa toda la pantalla */
}

.title-overlay {
  font-family: "Audiowide", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  pointer-events: none; /* Para que el visor de Spline siga siendo interactivo */
  z-index: 1;
  text-align: center;
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease; /* Transición suave */
}

.title-overlay.scrolled {
  transform: translate(-50%, -150%);
  opacity: 0; /* Reduce la opacidad a 0 mientras se mueve */
}
